/* styles */

body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rebeccapurple;
}

.pContainer {
    display: flex;
    align-items: space-between;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.pType {
    background-color: peachpuff;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 20%;
}

.pType .iContainer {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pType .iContainer img {
    margin-top: 20px;
    max-width: 90%;
}

.pType .about {
    margin-top: 20px;
}

.pType .serial {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pType .pName {
    color: #03045e;
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

.pType .about .pChar strong {
    color: #023e8a;
    margin-top: 3px;
    margin-bottom: 3px;
}

.pType .about .pChar {
    color: #0077b6;
    margin-top: 3px;
    margin-bottom: 3px;
}
